<ul class='nav-link'>
    <li>
        <a href='/projet'>Mes projets</a>
    </li>
    <li>
        <a href='/'>Home</a>
    </li>
    <li>
        <a href='/contact'>Contactez moi</a>
    </li>
</ul>
