*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    line-height: 1, 5;
}
h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}
#containerPage {
    max-width: 1200px;
    margin: auto;
}
/* Navigation*/

.nav-link {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    opacity: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.nav-link li {
    border: 1px solid darkred;
    border-radius: 75%;
    background-color: whitesmoke;
    color: black;
    transition: all 3s ease-in-out;
}
.nav-link li:hover {
    background-color: black;
    color: whitesmoke;
}
.nav-link a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1, 2rem;
    font-weight: bold;
    text-transform: uppercase;
} /*
.nav-link a:hover,
.nav-link a:focus {
    background-color: #ff9776;
}*/
.expanded {
    display: unset;
}
@media screen and (min-width: 636px) {
    .nav-link {
        margin-left: 5em;
        opacity: 1;
        position: static;
        width: auto;
        background: none;
    }
    .nav-link a {
        display: inline-block;
        padding: 15px 20px;
    }
}
